<mat-form-field class="custom-form-field">
  <input
    matInput
    tabindex="-1"
    placeholder="{{ placeholder }}"
    [formControl]="control"
    (focus)="onFocus($event)"
    (blur)="onBlur($event)"
    [ngClass]="{
      'valid': control.valid && (control.touched || control.dirty),
      'invalid': control.invalid && (control.touched || control.dirty)
    }"
  />
  <span class="floating-label"
    [ngClass]="{
      'valid': control.valid && (control.touched || control.dirty),
      'invalid': control.invalid && (control.touched || control.dirty)
    }">{{ label }}
  </span>
  <mat-error *ngIf="control.errors">{{ errorMessage }}</mat-error>
</mat-form-field>
