<div class="content">
  <!-- Progress bar when loading -->
  <ng-container *ngIf="vm.status === 'loading'; else notLoading">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
  </ng-container>
  <!-- Error -->
  <ng-template #notLoading>
    <ng-container *ngIf="vm.status === 'error'; else loaded">
      <app-danger [status]="vm.error?.status || 'Статус не определен'" />
    </ng-container>
    <!-- Uploaded data -->
    <ng-template #loaded>
      <app-users-table
        [users]="vm.users"
        (openDialog)="openUserDialog($event)"
      />
    </ng-template>
  </ng-template>
</div>
