.mat-mdc-table {
  display: grid;
  grid-template-columns: 100%;
  justify-content: flex-start;
  box-shadow: none;
  background: none;
}

:host ::ng-deep .mat-mdc-table tbody {
  display: grid;
}

:host ::ng-deep .mat-mdc-table tr {
  height: 47px !important;
  border-bottom: 1px solid rgba(171, 171, 172, 0.16);
}

:host ::ng-deep .selected-row {
  background-color: #E9F0FF;
  border-bottom: none !important;
}

.mat-column-name,
.mat-column-surname,
.mat-column-email,
.mat-column-phone {
  height: 47px !important;
  width: 280px;
  min-width: 280px;
  max-width: 280px;
  padding: 0;
}

.mat-mdc-header-cell {
  color: #2F4C97;
}

.mat-column-select {
  width: 24px;
  padding: 0;
}

.mat-column-name,
.mat-column-surname,
.mat-column-email,
.mat-column-phone {
  width: 280px;
  padding: 0;
}

.mat-column-email,
.mat-column-phone {
  text-align: right;
}

:host ::ng-deep thead th:nth-child(4) .mat-sort-header-container,
:host ::ng-deep thead th:nth-child(5) .mat-sort-header-container {
  display: flex !important;
  flex-direction: row-reverse !important;
}

:host ::ng-deep thead th:nth-child(4) .mat-sort-header-arrow,
:host ::ng-deep thead th:nth-child(5) .mat-sort-header-arrow {
  margin-left: 0 !important;
  margin-right: 6px !important;
}

.hover-cell {
  transition: color 0.3s ease, border-bottom 0.3s ease;

  &:hover {
    color: #8FAFFF;
    border-bottom: 1px solid #8FAFFF;
    cursor: pointer;
  }
}
